body{
    background-color: blueviolet;
}

.parrafo{
    color: brown;
    background-color: aliceblue;
}

#parrafounico{
    color: blue;
}

#contenedor1 {´
width: 50vw;
height: 80vh;
border: 1px 

}